
  {% extends 'formBase.html' %}

  {% block contenido %}
  <h2 id="text-titulo">PELICULAS DISPONIBLES EN NUESTRAS SALAS</h2>
    <br>
    <div class="container">
        <div class="row">
          <div class="col-xs-10 col-sm-6 col-md-4 pelicula">
            <div class="card">
                <img src="/static/img/pelicula1.jpg" alt="">
                <h4>LA PATRULLA CANINA</h4>
            </div>
          </div>
          <div class="col-xs-10 col-sm-6 col-md-4 pelicula">
              <div class="card">
                  <img src="/static/img/pelicula2.jpg" alt="">
                  <h4>VIUDA NEGRA</h4>
              </div>
          </div>
          <div class="col-xs-10 col-sm-6 col-md-4 pelicula">
            <div class="card">
                <img src="/static/img/pelicula3.jpg" alt="">
                <h4>SHANGAI CHI</h4>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-sm-6 col-md-4 pelicula">
              <div class="card">
                  <img src="/static/img/pelicula4.jpg" alt="">
                  <h4>MERCENARIO</h4>
              </div>
            </div>
            <div class="col-xs-10 col-sm-6 col-md-4 pelicula">
                <div class="card">
                    <img src="/static/img/pelicula5.jpg" alt="">
                    <h4>CACERIA JURASICA</h4>
                </div>
            </div>
            <div class="col-xs-10 col-sm-6 col-md-4 pelicula">
              <div class="card">
                  <img src="/static/img/pelicula6.jpg" alt="">
                  <h4>SCOOBY DOO</h4>
              </div>
            </div>
          </div>
          <br>
          <h2 id="text-titulo">PROXIMOS ESTRENOS...</h2>
          <div class="row">
            <div class="col-xs-10 col-sm-6 col-md-4 pelicula">
              <div class="card">
                  <img src="/static/img/pelicula7.jpg" alt="">
                  <h4>LUCA</h4>
              </div>
            </div>
            <div class="col-xs-10 col-sm-6 col-md-4 pelicula">
                <div class="card">
                    <img src="/static/img/pelicula8.jpg" alt="">
                    <h4>LA GUERRA DEL MAÑANA</h4>
                </div>
            </div>
            <div class="col-xs-10 col-sm-6 col-md-4 pelicula">
              <div class="card">
                  <img src="/static/img/pelicula9.jpg" alt="">
                  <h4>AMIGOS PASAJEROS</h4>
              </div>
            </div>
          </div>
        </div>
</body>
{% endblock %}
