    {% extends 'formBase.html' %}
    {% block contenido %}
    <style>
  .form-group{
    border-radius: 5px;
    padding: 20px;
    margin-top: 2%;
    }
  .contenedor-l{
    background-color: rgb(247, 245, 246);
    width: 30%;
    
    justify-content: center; 
    margin-left: 477px;
    margin-top: 40px;
    margin: o auto;
    border-radius: 5px;
    padding: 20px;
  }
  .container{
    background-color: rgb(247, 245, 246);
    display: flex;
    width: 30%;
    justify-content: center;
  } 
  h3{
    text-align: center;
    margin-top: 20px;
    padding-bottom: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: crimson;
}
    </style>
</head>
<body>
  <h3>CONSULTE AQUI LOS COMENTARIOS QUE NUESTROS USUARIOS HAN REALIZADO SOBRE LAS PELICULAS  EXHIBIDAS EN COLINA CINEMARK</h3>
  <!-- <div class="container">
  <div class="btn-group btn-justified">
    <button type="button" class="btn btn-danger">Gestionar Tiquetes</button>
    <button type="button" class="btn btn-danger">Gestionar Comentarios</button>
  </div> -->
</div>
    <div class="contenedor-l">
        <form action="" method="POST" novalidate>
          <div class="mb-7">
            
            <label for="selpel">Selecciona la pelicula:</label>
                
                    <select class="form-control" id="sel1" name='pelicula'>
                      {% for data in datos %}
                      <option>{{ data['titulo'] }}</option>
                      {% endfor %}
                    </select>        
          </div>
          <br>
          <button type="submit" class="mb-7 btn btn-danger" style= "width: 100%;">Mostrar Comentarios</button>
          <br>
        </form>
  </div>
</div> 
<br>
<br>
  <!-- <div class="container"> -->
    <div class="table-responsive">
        <div class="table-wrapper" style="background-color: #F8F9F9; border: solid 1px rgba(129, 140, 161, 0.705); width: 80%; margin-left: 135px;">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th style="width: 100px; color: #000080;text-align: center;">USUARIO</th>
                        <th style="width: 100px; color: #000080; text-align: center;"  >CALIFICACION</th>
                        <th style="width: 500px; color: #000080; text-align: center;">COMENTARIO</th>
                    </tr>
                </thead>
                <tbody>
                  
                    {% for l in lista %}
                    <tr>
                        {% for d in l %}
                        <td>{{ d }}</td>
                         {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        <!-- </div>   -->
</body>
{% endblock %}
