{% extends 'formBase.html' %}
{% block contenido %}
    <div class="contenedor-l">
        <h3 style="text-align: center;">Iniciar sesion</h3>
        <form id= "form-row" action="" method="post" novalidate>
          {{ form.hidden_tag() }}
          <div class="mb-7">
            {{ form.email.label }}
            {{ form.email(class='form-control') }}
            {% for error in form.email.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
            <!-- <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="" name="email"> -->
          </div>
          <div class=div class="mb-7">
            {{ form.password.label }}
            {{ form.password(class='form-control') }}
            <!-- <label for="pwd">Contraseña:</label>
            <input type="password" class="form-control" id="pwd" placeholder="" name="pwd"> -->
          </div>
          <br>
          {{ form.submit(class='form-control btn btn-danger') }}
          <!-- <button type="submit" class="mb-7 btn btn-danger" style="width: 100%;">Ingresar</button> -->
          <div class="grupo">
            {% if mensaje %}
                {{mensaje}}
            {% endif %}
        </div>
        </form>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
{% endblock %}
