    {% extends 'formBase.html' %}
    {% block contenido %}
    <style>
    body {
      color: #675940;
      background: #F5F7FA;
      font-family: 'Open Sans', sans-serif;
    }
  #text-form{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #d80419;
  }

  </style>
</head>

<body>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success alert-dismissable" role="alert"> 
            <button type="button" class="close" data-dismiss="alert" aria-label="close"> 
                <span aria-hidden="true" style="color: #ec0e20;">x</span> 
            </button>
        {{message}}
        </div>
      {% endfor %}
  {% endif %}
{% endwith %}
  <div id="div-form">
    <h3 style="text-align: center; color: rgb(233, 16, 16);">Bienvenido a Cinemark, {{ current_user.nombre }}</h3>
    <h2 id="text-form" > PANEL DE ADMINISTRACION DE LA PLATAFORMA</h2>
<div class="container border border-primary">
    <h6 style="text-align: center; color: rgb(14, 60, 158);">Seleccione el Tipo de Informacion que Desea Consultar</h6>
    <div class="contenedor-opcion" style="text-align: center">

      <form class="form-inline" action="" method="POST" >
        {{ form.hidden_tag() }}
        <div class="form-group">
        {{ form.opcion(class='form-control') }}
        </div> 
        {{ form.submit(class='form-control btn btn-primary') }}
      </form>
    </div>  
</div>
<div class="container">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
          <div class="row">
              <div class="col-sm-2" ><a href="/adminventas/" class="btn btn-primary" style="padding-left: 25px; padding-bottom: 10px; margin-bottom: 10px;" data-toggle="modal">Consultar Ventas</a></div>
              <div class="col-sm-10">
                <a href="/add/{{ nombre }}" class="btn btn-primary" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Adicionar</span></a>
              </div>
          </div>
        </div>
        {% if nombre == 'peliculas' %}
      <table class="table table-striped table-hover">
          <thead>
              <tr>
                  <th>Titulo</th>
                  <th>Genero</th>
                  <th>Duracion </th>
                  <th>Clasificacion</th>
                  <th>Estado</th>
                  <th>Acciones</th>
              </tr>
          </thead>
          <tbody>
            {% for post in posts %}
              <tr>
                  <td style="color:#0d457c;font-size:80%;">{{ post['titulo'] }}</td>
                  <td style="color:#0d457c;font-size:80%;">{{ post['genero'] }}</td>
                  <td style="color:#0d457c;font-size:80%;">{{ post['duracion'] }}</td>
                  <td style="color:#0d457c;font-size:80%;">{{ post['clasificacion'] }}</td>
                  <td style="color:#0d457c;font-size:80%;">{{ post['estado'] }}</td>
                  <td>
                    <a href="/update/{{ nombre }} {{ post['id'] }}" class="edit" title="Edit" data-toggle="modal"><i class="material-icons">&#xE254;</i></a>
                    <a href="/delete/{{ nombre }} {{ post['id'] }}" class="delete" title="Delete" data-toggle="modal" onclick="return confirm('Esta Seguro de Borrar el Registro ?')"><i class="material-icons">&#xE872;</i></a>
                  </td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
      {% elif nombre =='usuarios' %}
      <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Identificacion</th>
                    <th>Usuario </th>
                    <th>Tipo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
              {% for post in posts %}
                <tr>
                    <td style="color:#0d457c;font-size:80%;">{{ post['nombre'] }}</td>
                    <td style="color:#0d457c;font-size:80%;">{{ post['identificacion'] }}</td>
                    <td style="color:#0d457c;font-size:80%;">{{ post['usuario'] }}</td>
                    <td style="color:#0d457c;font-size:80%;">{{ post['tipo'] }}</td>
                    {% if current_user.tipo == 'sadmin' %}
                    <td>
                      <a href="/update/{{ nombre }} {{ post['id'] }}" class="edit" title="Edit" data-toggle="modal"><i class="material-icons">&#xE254;</i></a>
                      <a href="/delete/{{ nombre }} {{ post['id'] }}" class="delete" title="Delete" data-toggle="modal" onclick="return confirm('Esta Seguro de Borrar el Registro ?')"><i class="material-icons">&#xE872;</i></a>
                    </td>
                    {% endif%}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% elif nombre =='funciones' %}
        <table class="table table-striped table-hover">
              <thead>
                  <tr>
                      <th>Sala</th>
                      <th>Horario</th>
                      <th>Pelicula </th>
                      <th>Valor</th>
                      <th>Acciones</th>
                  </tr>
              </thead>
              <tbody>
                {% for post in posts %}
                  <tr>
                      <td style="color:#0d457c;font-size:80%;">{{ post['id_sala'] }}</td>
                      <td style="color:#0d457c;font-size:80%;">{{ post['id_horario'] }}</td>
                      <td style="color:#0d457c;font-size:80%;">{{ post['id_pelicula'] }}</td>
                      <td style="color:#0d457c;font-size:80%;">{{ post['valor'] }}</td>
                      <td>
                        <a href="/update/{{ nombre }} {{ post['id'] }}" class="edit" title="Edit" data-toggle="modal"><i class="material-icons">&#xE254;</i></a>
                        <a href="/delete/{{ nombre }} {{ post['id'] }}" class="delete" title="Delete" data-toggle="modal" onclick="return confirm('Esta Seguro de Borrar el Registro ?')"><i class="material-icons">&#xE872;</i></a>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
          {% elif nombre =='horarios' %}
          <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Id_Horario</th>
                        <th>Dia</th>
                        <th>Hora Funcion </th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                  {% for post in posts %}
                    <tr style="height: 20px";>
                        <td style="color:#0d457c;font-size:80%;" >{{ post['id_horario'] }}</td>
                        <td style="color:#0d457c;font-size:80%;">{{ post['dia'] }}</td>
                        <td style="color:#0d457c;font-size:80%;">{{ post['hora_fun'] }}</td>
                        <td>
                          <a href="/update/{{ nombre }} {{ post['id_horario'] }}" class="edit" title="Edit" data-toggle="modal"><i class="material-icons">&#xE254;</i></a>
                          <a href="/delete/{{ nombre }} {{ post['id'] }}" class="delete" title="Delete" data-toggle="modal" onclick="return confirm('Esta Seguro de Borrar el Registro ?')"><i class="material-icons">&#xE872;</i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% elif nombre =='salas' %}
            <table class="table table-striped table-hover">
                  <thead>
                      <tr>
                          <th>Nombre</th>
                          <th>Capacidad</th>
                          <th>Acciones</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for post in posts %}
                      <tr>
                          <td style="color:#0d457c;font-size:70%;">{{ post['nombre'] }}</td>
                          <td style="color:#0d457c;font-size:70%;">{{ post['capacidad'] }}</td>
                          <td>
                            <a href="/update/{{ nombre }} {{ post['id'] }}" class="edit" title="Edit" data-toggle="modal"><i class="material-icons">&#xE254;</i></a>
                            <a href="/delete/{{ nombre }} {{ post['id'] }}" class="delete" title="Delete" data-toggle="modal" onclick="return confirm('Esta Seguro de Borrar el Registro ?')"><i class="material-icons">&#xE872;</i></a>
                          </td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
      {% else %}
      <h1>OPCION INVALIDA</h1>
      {% endif %}
    </div>
  </div>
  </div>
  <div class="row" style="display: flex; justify-content: center;">
    <div class="col-sm-10">
      <a href="{{ url_for('logout')}}" class="btn btn-primary" style="margin-left: 875px; padding-bottom: 5px; margin-top: 10px; margin-bottom: 20px; width: 250px;" data-toggle="modal">Cancelar</a>
    </div>
</div> 
</body>
{% endblock %}