<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="estilosCine.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Cartelera</title>
</head> -->
{% extends 'formBase.html' %}
{% block contenido %}
<body>
    <h3>PELICULAS DISPONIBLES EN NUESTRAS SALAS</h3>
    <br>
    <div class="container">
        <div class="row">
          <div class="col-xs-10 col-sm-6 col-md-4 pelicula">
            <div class="card">
                <img src="img/pelicula1.jpg" alt="">
                <h4>LA PATRULLA CANINA</h4>
            </div>
          </div>
          <div class="col-xs-10 col-sm-6 col-md-4 pelicula">
              <div class="card">
                  <img src="img/pelicula2.jpg" alt="">
                  <h4>VIUDA NEGRA</h4>
              </div>
          </div>
          <div class="col-xs-10 col-sm-6 col-md-4 pelicula">
            <div class="card">
                <img src="img/pelicula3.jpg" alt="">
                <h4>SHANGAI CHI</h4>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-sm-6 col-md-4 pelicula">
              <div class="card">
                  <img src="img/pelicula4.jpg" alt="">
                  <h4>MERCENARIO</h4>
              </div>
            </div>
            <div class="col-xs-10 col-sm-6 col-md-4 pelicula">
                <div class="card">
                    <img src="img/pelicula5.jpg" alt="">
                    <h4>CACERIA JURASICA</h4>
                </div>
            </div>
            <div class="col-xs-10 col-sm-6 col-md-4 pelicula">
              <div class="card">
                  <img src="img/pelicula6.jpg" alt="">
                  <h4>SCOOBY DOO</h4>
              </div>
            </div>
          </div>
          <br>
          <h3>PROXIMOS ESTRENOS...</h3>
          <div class="row">
            <div class="col-xs-10 col-sm-6 col-md-4 pelicula">
              <div class="card">
                  <img src="img/pelicula7.jpg" alt="">
                  <h4>LUCA</h4>
              </div>
            </div>
            <div class="col-xs-10 col-sm-6 col-md-4 pelicula">
                <div class="card">
                    <img src="img/pelicula8.jpg" alt="">
                    <h4>LA GUERRA DEL MAÑANA</h4>
                </div>
            </div>
            <div class="col-xs-10 col-sm-6 col-md-4 pelicula">
              <div class="card">
                  <img src="img/pelicula9.jpg" alt="">
                  <h4>AMIGOS PASAJEROS</h4>
              </div>
            </div>
          </div>
    </div>
</body>
{% endblock %}
<!-- </html> -->